@*@page
@model BaseProjectApp.Admin.Areas.Identity.Pages.Account.ResetPasswordModel
@{
}*@

@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">


    <!--begin::Base Path (base relative path for ~/assets of this page) -->
    <base href="././././" />

    <!--end::Base Path -->
    <meta charset="utf-8" />
    <meta name="description" content="Login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/assets/css/pages/login/login-3.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="~/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="icon" type="image/png" href="~/assets/media/logos/16.png" />
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <div class="kt-grid kt-grid--ver kt-grid--root" style="height: 100% !important">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(/~/assets/media/bg/bg-3.jpg);">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__logo">
                            <a href="#">
                                <img src="~/assets/media/logos/EComLogo.png" style="width: 35%" alt="Logo" />
                            </a>
                        </div>
                        <div class="_kt-login__signin">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">Reset Password</h3>
                            </div>
                            <div class="kt-form">
                                <form id="account" method="post">
                                    <div class="input-group">
                                        <input type="password" id="password" class="form-control" placeholder="password" required/>
                                    </div>
                                        <span id="password_validation" style="color: red;"></span>
                                    <div class="input-group">
                                        <input type="password" id="passwordConfirm" class="form-control" placeholder="password confirmation" required/>
                                    </div>
                                        <span id="password_conf_validation" style="color: red;"></span>
                                    <div class="kt-login__actions">
                                        <button type="button" onclick="resetPassword()" class="btn btn-brand btn-elevate kt-login__btn-primary">Submit </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />

    <script>
        const params = new URLSearchParams(document.location.search);
        
        function resetPassword() {

            $('#password_conf_validation').text('');
            $('#password_validation').text('');

            if($('#password')[0].checkValidity() == false) {
                $('#password_validation').text('password is required');
                return;
            }
            if($('#passwordConfirm')[0].checkValidity() == false) {
                $('#password_conf_validation').text('password confirmation is required');
                return;
            }
            if($('#password').val() != $('#passwordConfirm').val()) {
                $('#password_conf_validation').text('check password confirmation');
                return;
            }
            const password = $('#password').val();
            const resetToken = params.get('ResetToken');
            const userEmail = params.get('UserEmail');
            $.ajax({
                method: 'POST',
                url: `./ResetPassword?handler=ResetPassword&Password=${password}&ResetToken=${resetToken}&UserEmail=${userEmail}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: async (res) => {
                    await swal.fire(res.msg, '',  res.status ? 'success' : 'error');
                    window.history.replaceState(null, null, window.location.pathname);
                    window.location.pathname = res.redirect; 
                },
                error: (error) => {
                    swal.fire('error message', '', 'error');
                    console.log(error);
                }
            });
        }
    </script>
</body>
</html>